body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
h1 {
    color: mediumpurple;
}
button {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

#bpmDisplay {
    font-size: 18px;
    font-weight: bold;
}